<p id="topieces"><span style="color:#fff">&#9812;   &#9813;   &#9814;</span> <span style="color:#000">&#9821;   &#9822;   &#9823;</span></h4>
<h4>The Codemasters Team of <%= image_tag ("TFP_logo_clear.png") %> The Firehose Project presents</h4>
<h1>Our Codemasters' Chess App</h1>
<a id="start" href="">Start New Game</a>
