  <p id="topieces"><span style="color:#fff">&#9812;   &#9813;   &#9814;</span> <span style="color:#000">&#9821;   &#9822;   &#9823;</span></h4>
  <h3 id="topcredit">The Codemasters Team of <%= image_tag ("TFP_logo_clear.png") %> The Firehose Project presents</h3>
  <h1 id="title">Our Codemasters' Chess App</h1>
 <h1><%= link_to 'Start New Game', game_path, class: 'btn btn-success' %></h1>