// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: none;
  border: 1px solid #b8b8b8;
  /* border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 18px;
}

.booyah-box p {
  color:bisque;
  margin:0 0 10px 0;
}

.booyah-box h2 {
  color:bisque;
  text-shadow:1px 1px 2px #8b6508;
}

.btn-primary {
  box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color:#428bca;
    
}

.form-columns {
	color: red;
	font-size: 2em;
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.form-group {
  margin-left:auto;
  margin-right:auto;
  max-width: 400px;
  background: #F8F8F8;
  padding: 30px 30px 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

body {
	background: #abdc28;
	padding: 20px;
}

.chessboard {
  box-shadow:4px 4px 6px #333;
}
.square-white {
  padding-bottom: 12.5%;
  background:tan;
  display:flex;
  justify-content: center;
  align-content: center;
}

.square-black {
  padding-bottom: 12.5%;
  background:#444;
  display:flex;
  justify-content: center;
  align-content: center;
}

.square-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#form-to-move-pieces {
  background:#cecece;
  margin:0 auto 2% auto;
}

#form-to-move-pieces td, .row-col-head {
  text-align:center;
  font-family:Arial, sans-serif;
  padding:1% 1.5%;
}

#moveit-row td {
  background:linear-gradient(left,#fff,#b4b4b4);
}

.step1 {
  background:#fff;
}
.step2 {
  background:#e6e6e6;
}
.step3 {
  background:#cdcdcd;
}
.step4 {
  background:#b4b4b4;
}