@import "bootstrap";

body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/97/Chess_Set.jpg');
  background-size:100%;
  font-family: 'IM Fell DW Pica', serif !important;
}

#topieces {
  margin:0 auto 22px auto;
  font-size:233%;
  text-align:center;
}

#topcredit {
  font-size:200%;
  color: #d9d9d9;
  text-shadow:1px 1px 0.5px #444;
}

h1, h2, h3, h4, h5 {
  text-align:center;
}

#title {
  color:white;
  text-shadow: 2px 2px 3px #222;
  font-size:400%;
}

#start {
  display:block;
  margin:13% auto 0 auto;
  width:28%;
  background:green;
  color:#fff;
  font-size:2.7vw;
  text-align:center;
  line-height:1.3em;
  padding:10px 2%;
  border:1px solid #fff;
  border-radius:25px;
}

#square-8-8 {
  background-color: f00;
}

#start:hover {
  background:#00c100;
  text-decoration:none;
}

.headline {
  color:#fff;
  text-shadow:2px 2px 2px #444;
}

#htmlboard {
  color:#fff;
  margin:7% auto;
  box-shadow:4px 4px 6px #333;
}

#htmlboard tr {
  background:#444;
}

#htmlboard tr:nth-child(even) td:nth-child(even) {
  background:tan;
}
#htmlboard tr:nth-child(odd) td:nth-child(odd) {
  background:tan; 
}

#htmlboard td {
  font-size:110%;
  border:1px solid white;
  padding:30px;
  text-align:center;
}